* {
  --themeOne: rgb(9, 37, 50);
  --themeTwo: rgb(0, 127, 144);
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --minimize-width: 25%;
  --transition-speed: 1s;

  font-family: "Neuton", serif;
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.allpages{
  padding-top: 5rem;
}


/* Reuseable components  */
.transition-btn-here {
  margin: 1rem auto;
  display: flex;
}

.proj-btn {
  position: relative;
  font-weight: 700;
  margin: auto;
  display: inline-block;
  cursor: pointer;
  width: auto;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  color: var(--themeOne);
  background-color: #fff;
  border: 1px solid #062233;
  box-shadow: 4px 4px #062233;
  box-sizing: border-box;
  transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1),
    color 0.2s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 0.2s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.proj-btn:hover {
  position: relative;
  margin: auto;
  top: 2px;
  left: 2px;
  z-index: 4;
  display: block;
  box-shadow: none;
  color: white;
  background-color: var(--themeOne);
  content: "";
  transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}


/* Page layouts  */

.page-head-banner{
  display: flex;
}

.page-box{
  width: 80%;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid rgb(185, 166, 166);
  margin: 300px auto 30px auto;

}

.page-box h1{
  margin: 1rem;
}

@media only screen and (max-width: 768px){
  .page-box{
    width: 95%;
  }
}

/* Navbar Css */

navbar {
  border-radius: 2px solid var(--themeOne);
  background: white;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.promo-bar {
  background: rgb(6, 34, 51);
  background: linear-gradient(
    90deg,
    rgba(6, 34, 51, 1) 0%,
    rgba(9, 117, 121, 1) 91%,
    rgba(9, 117, 121, 1) 100%
  );
  cursor: grab;
}

.promo-bar > * {
  height: 100%;
}

.promo-bar p {
  color: white;
  margin-bottom: 0;
  padding: 7px 0;
}
.promo {
  margin: auto 0;
  text-align: center;
}
.promo-right {
  margin: auto 0;
  text-align: center;
}

.navbar-main-row ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-main-row li {
  padding: 10px;
}

.logo-div{
  text-align: center;
}

.logo {
  font-size: 30px;
  text-align: center;
  color: var(--themeOne);
  text-decoration: none;
}

.logo img{
  height: 45px;
}

.logo-div a:hover{
  color: var(--themeOne);
  cursor: pointer;
}

.list-div li {
  margin: auto;
  font-weight: 700;
  text-decoration: none;
  color: #0066ff;
  text-transform: uppercase;
}
.list-div a {
  text-decoration: none;
  margin: auto;
}

.list-div a:hover {
  text-decoration: underline;
  color: var(--themeOne);
}

.icons-div li {
  font-weight: 400;
  text-decoration: none;
  color: var(--themeOne);
  text-transform: uppercase;
}

.icons-div a {
  text-decoration: none;
}

.icons-div a:hover {
  text-decoration: underline;
  color: var(--themeOne);
}
.mobile-menu{
  display: none;
}
.mobile-login{
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar-main-row ul{
    flex-direction: column;
  }
  .icons-div li{
    text-align: center;
  }
  .promo-left{
    text-align: center;
  }
  .mobile-menu{
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 30px;
  }
  .mobile-login{
    display: block;
  }
  .icons-div{
    display: none;
  }
  .make-display-non{
    visibility: hidden;
    height: 0;
  }
}


/* Footer of page  */

.footer-row {
  background-color: var(--themeOne);
  width: 100%;
}
.first-footer-row{
  min-height: 20vh;
}
.subscribe-site {
  display: flex;
}
.subscribe-form {
  flex-direction: column;
  margin: auto;
  color: white;
  font-size: 15px;
  padding: 1rem;
  width: 60%;
}
.input-join {
  display: flex;
  width: 100%;
}
.input-join-btn {
  display: flex;
  background-color: #1f3948;
  cursor: pointer;
}
.input-join-btn i {
  margin: auto;
  padding: 0 10px;
}
.input-join input {
  background-color: #1f3948;
  border: none;
  border-radius: 2px;
  padding: 10px;
  width: 90%;
  line-height: 25px;
  color: #fff;
  outline: none;
}
.input-join input::placeholder {
  color: #fff;
  padding-left: 15px;
  opacity: 0.8;
}

.footer-links {
  display: flex;
}
.social-links {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: arial;
  margin: auto;
  width: 100%;
}

/* Social Media Links here  */
.card-Box {
  perspective: 500px;
  margin: 25px auto;
}
.card-Box a {
  color: white;
  text-decoration: none;
}
.card2 {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  transform-style: preserve-3d;
  transition: 1s;
  box-shadow: 0px 30px 30px rgb(0, 0, 0, 0.5);
  border-top-left-radius: 20%;
  border-top-right-radius: none;
  border-bottom-left-radius: none;
  border-bottom-right-radius: 20%;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #1da1f2;
}

.googleplus {
  background: #f70000;
}

.instagram {
  background: #d62977;
}

/*@media screen and (max-width: 500px){*/

/*}*/

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  color: #fff;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.card-back {
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

.card-Box:hover .card2 {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

/* Footer about page  */

.footer-about{
  display: flex;
}

.footer-about-box{
  width: 80%;
  margin: auto;
}
.footer-about-box{
  color: white;
}
.footer-about-box h3{
  margin-top: 1rem;
}




/* Main content here  */

/* Carousel div  */

.head-carousel img{
  width: 100%;
  height: 70vh;
}




/* Banner at Home  */
.banner-div {
  width: 100%;
  background-color: #aacaca;
  height: 85vh;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.outer-split-div {
  font-family: "Roboto", sans-serif;
  height: 80vh;
  overflow: hidden;
  margin: 0;
}

.split h2 {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.split-btn {
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  border: #fff solid 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.split-left .split-btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
  color: white;
}

.split.split-right .split-btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
  color: white;
}

.container-split {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.split-left {
  left: 0;
  background: url("../imgs/demonslayer.jpg")
    no-repeat center / cover;
}

.split.split-left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.split-right {
  right: 0;
  background: url("../imgs/aot.jpg")
    no-repeat center / cover;
}

.split.split-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.split-left,
.split.split-right,
.split.split-left::before,
.split.split-right::before {
  transition: all var(--transition-speed) ease-in-out;
}

.hover-left .split-left {
  width: var(--hover-width);
}

.hover-left .split-right {
  width: var(--minimize-width);
}

.hover-right .split-right {
  width: var(--hover-width);
}

.hover-right .split-left {
  width: var(--minimize-width);
}

@media (max-width: 800px) {
  .split h2 {
    font-size: 1.5rem;
    top: 25%;
  }
  .split-btn {
    padding: 1rem;
    width: 10rem;
  }
  .outer-split-div{
    height: 60vh;
  }
}

/* Home page about section  */
.home-about{
  width: 80%;
  margin: 2rem auto;
}

.home-about-info{
  padding: 0.5rem 0 2rem 4rem;
}

.home-about-info p{
  font-size: 18px;
}

.home-about-img img{
  width: 100%;
  /* padding: 2rem; */
}

.home-placement-cell{
  width: 80%;
  margin: 2rem auto;

}

.home-about-info img{
  display: none;
}

.home-placement-cell-info{
  padding: 0.5rem 4rem 2rem 0;
}

@media only screen and (max-width: 768px){
  .home-about-img img {
    width: 80%;
    margin: auto;
    display: none;
  }
  .home-about-info h3{
    text-align: center;
  }
  .home-about-info{
    /* padding-top: 1rem; */
    padding: 1rem;
    text-align: justify;
  }
  .home-about{
    width: 95%;
    flex-direction: column-reverse;
  }
  .home-about-info img{
    width: 100%;
    padding: 1.5rem;
    display: block;
  }
}

/* About page Css  */

.about-head-row{
  width: 80%;
  margin: auto;
}

.about-content{
  width: 80%;
  margin: auto;
  font-size: 20px;
  padding: 2rem;
}

/* Courses div here  */

.courses-card-head{
  margin: auto;
  text-align: center;
  color: white;
}

.courses-intro{
  width: 90%;
  margin: 2rem auto;
}

.courses-head{
  padding: 0 2rem;
}

.courses-cards-here{
  width: 100%;
  display: flex;
}

.courses-card{
  background: url(../imgs/demonslayer.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 300px;
  overflow: hidden;
  margin: 1rem auto;
  display: flex;
}

.courses-card-mask{
  width: 125%;
  height: 125%;
  background-color: var(--themeTwo);
  position: absolute;
  top: -12.5%;
  left: -12.5%;
  opacity: 0;
  z-index: 2;
  transition: 0.35s ease-in 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.courses-card-mask:hover{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}

.courses-card-mask h3{
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.courses-card-mask p{
  padding: 1rem;
}

.btn-contain{
  width: max-content;
  margin: auto;
}





/* Contact Us page styles here  */

.contact-head-banner{
  background: url(../imgs/contactus.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100% 600px;
}

.location-map{
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.location-map iframe{
  padding: 1.5rem;
  height: 400px;
}

.location-map h5{
  padding-left: 1.5rem;
  text-align: center;
  width: 100%;
}

.location-map-hr{
  display: none;
}

.other-contact-info{
  padding-left: 1rem;
}

.contact-attri-head{
  font-size: 18px;
  margin-top: 0.5rem;
  font-weight: 600;
}

.contact-attri-info{
  margin-left: 1.5rem;
}

.contact-attri-info a{
  color: var(--themeOne);
  text-decoration: none;
  
}

.query-form{
  display: flex;
  margin: auto;
}

.query-form-head h2{
  padding-left: 1rem;
}

.query-info{
  border-right: 1px solid black;
}

.query-info p{
  padding: 0.5rem 1.5rem;
  font-size: 17px;
}

.query-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 1px solid grey;
  /* border-radius: 15px; */
}

.query-form > *{
  padding: 10px;
}

.label-query-form{
  padding-bottom: 3px;
}

.query-form input{
  width: 97%;
  margin: auto;
}

.query-form textarea{
  width: 97%;
  margin: auto;
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px){
  .location-map{
    border: none;
  }
  .location-map iframe{
    padding: 0;
    width: 90%;
    height: 80%;
    margin: auto;
  }
  .location-map h5{
    padding-top: 1rem;
  }
  .location-map-hr{
    display: block;
  }
}

/* About Us page styles here  */

.about-head-banner{
  background: url(../imgs/contactus.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100% 600px;
}

.about-members-card{
  width: 90%;
  margin: auto;
}

.member-card{
  padding: 1rem;
  margin: auto;
}

.member-card img{
  width: 100%;
  border-radius: 50%;
}

.member-name{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.member-role{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: rgba(41, 39, 39, 0.778);
}

.dashed-line-below{
  /* border-bottom: 3px dashed var(--themeOne); */
  height: 5px;
  background-image: linear-gradient(to right, rgb(9, 37, 50) 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 30px 3px;
  background-repeat: repeat-x;
  width: 90%;
  margin: 1rem auto;
}

.team-info h2{
  text-align: center;
}

.team-info-text{
  text-align: center;
  padding: 1rem 4rem;
  font-weight: 500;
  color: var(--themeTwo);
}